  <%= form.label :title %><br />
  <%= form.text_field :title %>
  <br />
  <%= form.label :description %><br />
  <%= form.text_area :description %>
  
  <div class="actions">
    <%= submit_tag 'Save' %>
  </div>
