<% heading span(enclosing_resource ? enclosing_resource.name : 'All') + ' tickets' %>

<table class="tickets">
  <thead>
    <tr>
      <th class="number">#</th>
      <th class="total" colspan="2"><%= pluralize resources.length, 'ticket' %></th>
      <th class="assigned_to">Assigned to</th>
      <th class="milestone">Milestone</th>
      <th class="stamp">Age</th>
    </tr>
  </thead>  
  <%= render :partial => 'ticket', :collection => resources %>
</table>

<% if enclosing_resource %>
  <p>
    <%= link_to 'Create new ticket', new_project_ticket_url(enclosing_resource) %> 
  </p>  
<% end %>  