<% heading 'Creating new ticket for ' + span(enclosing_resource.name) %>

<div class="ticket-actions">
<% form_for_resource :builder => ActionView::Helpers::FormBuilder do |form| %>
  <%= render :partial => 'form', :object => form %>
<% end %>
</div>