<% heading 'Projects' %>

<div id="toolbar">
  <%= link_to glyph('brick', 'Create new project'), new_project_path if current_user.super_user? %>
</div>

<table class="data projects">
  <thead>
    <tr>
      <th class="name left">Project</th>
      <th class="description"><nobr>Description</nobr></th>
      <th class="tickets right">Tickets</th>
    </tr>
  </thead>  
  <%= render :partial => 'project', :collection => resources %>
</table>